*{
    font-family: Verdana, Tahoma, sans-serif;
}
body{
    margin: 0;
    background-color: rgb(204, 203, 203)
}

/* Header Formatting */

nav{
    height: 80px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    position: fixed;
    background-color: rgba(194, 193, 193, 0.95);
    z-index: 100;
    top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
nav .left{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}
nav .left img{
    height: auto;
    width: 80px;
    padding-left: 8px;
}
nav .right{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(102, 102, 102);
    margin-right: 24px;
}
nav .right h3,
nav .right a{
    padding: 30px 8px;
    font-size: 1.2rem;
    flex-grow: 1;
    text-align: center;
    border-radius: 20px;
}
nav .right a{
    color:rgb(102, 102, 102);
    font-weight: bold;
    text-decoration: none;
}

/*Banner*/

.banner{
    background-color:rgb(182, 31, 220);
    max-width: 100%;
    display: inline-flex;
    padding-top: 88px;
    margin: 0 8px;
    flex-wrap: wrap;
    align-items: center;
}
.banner .top{
    width: 100%;
    display: flex;
    justify-content: center;
}
.banner .top img{
    width: 40%;
}
.banner .left{
  width: 59%;
  height: auto;
  display: flex;
  box-sizing: border-box;
}
.banner .left img{
  width: 90%;
  margin: 24px 32px;
  border-radius: 15px;
}
.banner .right{
    width: 40%;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    color: whitesmoke;
}
.banner .right img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}
.banner h3{
    font-weight: normal;
}


/*Soft Cheeses*/

.soft{
    background-color: rgb(204, 203, 203);
    width: 100%;
    padding: 0;
}
.soft h1{
    text-align: center;
    padding-top: 32px;
    padding-bottom: 8px;
    font-size: 2.5rem;
    color: rgba(13, 34, 34, 0.85);
}
.soft .varieties{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 72px;
}
.soft .varieties div{
    width: 30%;
    background-color: white;
    margin-top: 24px;
    border-radius: 8px;
}
.soft .varieties img{
    width: 100%;
    height: auto;
}
.fig,
.pinenut_pesto,
.plain{
    margin-bottom: 16px;
}
.varieties h2{
    font-size: 2rem;
    text-align: center;
}
.varieties p{
    color: gray;
    opacity: 0.8;
    padding: 0 16px
}





/*Transitions*/

nav .right h3:hover{
    transition: background-color 0.75s ease-out, color 0.75s ease-out;
    background-color: rgba(104, 104, 104, 0.95);
    color: white;
}
nav .right a:hover{
    transition: background-color 0.75s ease-out, color 0.75s ease-out;
    background-color: rgba(104, 104, 104, 0.95);
    color: white;
}