*{
    font-family: Verdana, Tahoma, sans-serif;
}
body{
    margin: 0;
}

/*Navigation*/

nav{
    height: 80px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    position: fixed;
    background-color: rgba(194, 193, 193, 0.95);
    z-index: 100;
    top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
nav .left{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}
nav .left img{
    height: auto;
    width: 80px;
    padding-left: 8px;
}
nav .right{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(102, 102, 102);
    margin-right: 24px;
}
nav .right h3,
nav .right a{
    padding: 30px 8px;
    font-size: 1.2rem;
    flex-grow: 1;
    text-align: center;
    border-radius: 10px;
}
nav .right a{
    color:rgb(102, 102, 102);
    font-weight: bold;
    text-decoration: none;
}

/*Banner*/

.banner{
    background-color: rgba(122, 31, 220, 1.0);
    max-width: 100%;
    display: inline-flex;
    margin-top: 80px;
    border-radius: 10px;
}
.banner .left{
  width: 50%;
  height: auto;
  display: flex;
  box-sizing: border-box;
}
.banner .left img{
  width: 100%;
  margin: 24px 32px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #353434;
}
.banner .right{
    width: 50%;
    box-sizing: border-box;
    margin: 0 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    color: whitesmoke;
}
.banner .right img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}
.banner h3{
    font-weight: normal;
}

header{
    background-color: rgb(253, 229, 244);
}


/*About Us Section*/
.about_us{
    background-color: rgb(253, 229, 244);
    color: darkslategrey;
    padding: 32px 0;
}
#AboutUs{
    width: 22%;
    display: block;
    height: auto;
    margin: 0 auto;
    padding-top: 16px;
}
.about_us .section1{
    display: inline-flex;
    flex-wrap: wrap;
    padding-bottom: 32px;
}
.about_us .section1 h3{
    max-width: 60%;
}
.about_us .section1 img{
    max-width: 40%;
    max-height: 200px;
    display: block;
    margin: 0;
    border-radius: 5px;
    box-shadow: 8px 10px 5px #686565;
}
.section1 .top,
.section1 .middle,
.section1 .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}




/*Transitions*/

nav .right h3:hover{
    transition: background-color 0.75s ease-out, color 0.75s ease-out;
    background-color: rgba(150, 146, 146, 0.95);
    color: white;
}
nav .right a:hover{
    transition: background-color 0.75s ease-out, color 0.75s ease-out;
    background-color: rgba(150, 146, 146, 0.95);
    color: white;
}